.product {
    flex: 4;
    padding: 20px;
}

.productTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productAddButton {
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    border: none;
    padding: 5px;
    background-color: #ed4f4f; 
    color: white;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 20px;
    font-size: 16px;
}

.product-link {
    text-decoration: none;
    color: inherit;
}


.productAddButtonIcon {
    font-size: 14px !important;
}

.productTop {
    display: flex;
    
}


.productTopLeft{
    flex: 1;
    margin: 10px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}

.productChartTitle {
    margin-bottom: 10px;
}



.productTopRight {
    flex: 1;
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; 
}

.productInfoTop {
    display: flex;
    align-items: center;
}

.productInfoImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.productName {
    font-weight: 700;
    font-size: 18px;
    margin-left: 20px;
}

.productInfoBottom {
    margin-top: 20px;
    padding: 10px;

}

.productInfoItem {
    width: 180px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    
}

.productInfoKey {
    font-weight: 500;
    margin-left: 10px;
}

.productInfoValue {
    font-weight: 300;
}

.productBottom {
    margin: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.productForm {
    display: flex;
    justify-content: space-between;
}

.productFormLeft {
    display: flex;
    flex-direction: column;
}


.productFormLeft>label {
    margin-bottom: 10px;
    color: rgb(95, 92, 92);
    font-size: 16px;
}

.productFormLeft>input {
    margin-bottom: 10px;
    border: none;
    padding: 2px;
    border-bottom: 1px solid rgb(180, 177, 177);
}

.productFormLeft>input[type = "text"] {
    font-weight: 600;
    font-size: 14px;
}

.productFormLeft > textarea {
    font-weight: 500;
    font-size: 14px;
}


.productFormLeft .check {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.productFormLeft .check>label {
    padding-right: 10px;
    font-weight: 600;
    font-size: 16px;
    color: rgb(95, 92, 92);
}



.productFormLeft>input:focus {
    outline: none;
}

.productFormLeft>textarea {
    margin-bottom: 10px;
    border: none;
    padding: 4px;
    border-bottom: 1px solid rgb(180, 177, 177);
}

.productFormLeft>textarea:focus {
    outline: none;
}

.productFormLeft>select {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;

}


.productFormRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productUpload {
    display: flex;
    align-items: center;
    
}

.productUploadImg {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 10px;
    

}

.productButton {
    border: none;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    color: white;
    background-color: rgb(6, 172, 136);
    font-weight: 400;
}


.fottrrContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin-top: 300px;
    margin-bottom: 10px;
  }




/* Loading spinner overlay */
.loading-spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 13, 13, 0.5); /* Dull opacity background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */
  }
  
  /* Loading spinner */
  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Optional: Adjust spinner size and color */
  .loading-spinner > svg {
    width: 35px; /* Adjust size as needed */
    height: 35px; /* Adjust size as needed */
    color: #f0f3f7; /* Spinner color */
  }
  