.login {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(254, 250, 250);
}

.loginTopbar {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin: 0 auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
}

.loginLogo {
  font-weight: bold;
  font-size: 34px;
  color: black;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
  margin-left: 50px;
}

.loginLogo span {
  color: rgb(138, 22, 22);
}

.loginForm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 28%;
  min-height: 50%;
  margin: 120px auto;
  padding: 16px;
  background: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.05);
}

.loginTitle {
  text-align: center;  
  width: 100%;  
  font-size: 20px;
  margin-bottom: 30px;  
}

.loginForm > label, .loginInput {
  display: block;
} 

.loginForm > label {
  font-size: 18px;
  font-weight: 600;
  color: #27272a;
}

.loginInput {
  padding: 12px;
  min-width: 40%;
  margin-top: 10px;
  margin-bottom: 14px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.loginButton {
  background: #d61c1c;
  border: 0;
  color: #fff;
  padding: 12px;
  font-weight: bold;
  font-family: "Poppins";
  font-size: medium;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
  width: 100%;
}

.loginButton:hover {
  background-color: #a80d0d;
}

.loginForgot {
  display: block;
  margin-top: 20px;
  font-size: 15px;
}

.loginForgot a {
  text-decoration: none;
  color: #d61c1c;
  margin-left: 4px;
}

.loginForgot a:hover {
  text-decoration: underline;
  color: #d61c1c;
  
}

.loginError {
  margin-top: 5px;
  padding: 10px;
  background: #ffefef;
  border: 1px solid red;
  border-radius: 4px;
  color: red;
}

.loginFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 14px;
  margin-bottom: 28px;
}














